@model RetroGames.DATA.EF.Models.ConsoleType

@{
    ViewData["Title"] = "Edit " + Model.ConsoleName;
}

<h1 class="mt-5">@ViewData["Title"]</h1>

@*<h4>ConsoleType</h4>*@
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ConsoleTypeId" />
            <div class="form-group">
                <label asp-for="ConsoleName" class="control-label"></label>
                <input asp-for="ConsoleName" class="form-control" />
                <span asp-validation-for="ConsoleName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary d-inline-flex" />
                <a asp-action="Index" class="btn btn-secondary d-inline-flex">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
