@model RetroGames.DATA.EF.Models.Manufacturer

@{
    ViewData["Title"] = "Edit " + Model.ManufacturerName;
}

<section class="hero-wrap hero-wrap-2 navbackground" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-center">
            <div class="col-md-9 ftco-animate mb-5 text-center">
                <p class="breadcrumbs mb-2"><span class="mr-2"><a href="/">Home <i class="fa fa-chevron-right"></i></a></span> <span class="mr-2"><a href="@Url.Action("Index","Manufacturers")">Manufacturers <i class="fa fa-chevron-right"></i></a></span> <span>@ViewData["Title"] <i class="fa fa-chevron-right"></i></span></p>
                <h2 class="mb-0 bread oldfont">@ViewData["Title"]</h2>
            </div>
        </div>
    </div>
</section>

@*<h4>Manufacturer</h4>*@
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ManufacturerId" />
            <div class="form-group">
                <label asp-for="ManufacturerName" class="control-label"></label>
                <input asp-for="ManufacturerName" class="form-control" />
                <span asp-validation-for="ManufacturerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ManAddress" class="control-label"></label>
                <input asp-for="ManAddress" class="form-control" />
                <span asp-validation-for="ManAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ManCity" class="control-label"></label>
                <input asp-for="ManCity" class="form-control" />
                <span asp-validation-for="ManCity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ManState" class="control-label"></label>
                <input asp-for="ManState" class="form-control" />
                <span asp-validation-for="ManState" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ManZip" class="control-label"></label>
                <input asp-for="ManZip" class="form-control" />
                <span asp-validation-for="ManZip" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ManPhone" class="control-label"></label>
                <input asp-for="ManPhone" class="form-control" />
                <span asp-validation-for="ManPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn button d-inline-flex" />
                <a asp-action="Index" class="btn secondarybutton d-inline-flex">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
